.footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    padding-bottom: 24px;
    position: fixed; 
    bottom: 0;

    @media screen and (min-device-width: 768px) {
        width: 480px;
    }
}
