.footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    position: fixed; 
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 4px;
    padding: 12px 24px;

    a {
        text-decoration: underline;
    }

    @media screen and (min-device-width: 768px) {
        left: 48px;
        text-align: left;
        max-width: fit-content;
        bottom: 0;
    }
}
