.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 96px;

    &__container {
        height: 100%;
        margin: 48px 0;
        position: relative;
    }

    &__image {
        object-fit: cover;
    }

    &__buy {
        text-decoration: underline;
        text-align: center;
    }

    &__creator {
        text-align: center;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 960px;
        font-size: 64px;
        text-align: center;
        padding: 0 24px;
        color: black;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }

    &__content {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 0 24px;

        @media screen and (min-device-width: 768px) {
            width: 100%;
            max-width: 960px;
        }
    }

    &__articles {
        width: 100%;
        max-width: 960px;

        a {
            color: black;
            text-decoration: underline;

            &:hover {
                filter: invert(0.5);
            }
        }
    }
}
