.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 260px;
    margin-top: 48px;

    @media screen and (min-device-width: 768px) {
        margin-top: 0;
        width: 100px;
    }
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(white, 0.6);
    margin: 4px;
    border: 1px solid black;
    cursor: pointer;
    transition: 300ms all;

    img {
        margin: auto;
        width: 24px !important;
        height: 24px !important;
    }

    &:hover {
        background-color: rgba(black, 0.2);
    }
}
